<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/menu.js"></script>
    <title><%= title%></title>
  </head>
  <body>
    <header class="header">
      <h1 class="title">
        <a href="/catalog"
          >Badminton <span class="title-highlight">B</span>ag</a
        >
      </h1>
      <div class="nav-menu">
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <div class="menu-bar"></div>
        <nav class="nav">
          <ul>
            <% const active = typeof activePage !== 'undefined' ? activePage :
            ''%>
            <li>
              <a
                href="/catalog"
                class="<%= active === 'inventory' ? 'active-page' : ''%>"
                >Inventory</a
              >
            </li>
            <li>
              <a
                href="/catalog/items"
                class="<%= active === 'product' ? 'active-page' : ''%>"
                >Products</a
              >
            </li>
            <li>
              <a
                href="/catalog/categories"
                class="<%= active === 'category' ? 'active-page' : ''%>"
                >Categories</a
              >
            </li>
            <li>
              <a
                href="/catalog/brands"
                class="<%= active === 'brand' ? 'active-page' : ''%>"
                >Brands</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
  </body>
</html>
