<%- include('./partials/layout')%> 

<h2 class="page-header category-description"><%= category.description %> </h2>

<main class="main-container">

<% const name = category.name.substr(-1) === 's' ? category.name : category.name + 's' %> 

<ul class="product-list category-detail">
  <% if(items.length) { %> 
    <p class="availability"><%= name %> Available</p>

    <li class="list-headers">
      <span>Product</span>
      <span>Price</span>
      <span>Stock</span>
    </li>
    <% for(const item of items) { %> 
        <li class="product-info">
          <a href=<%= item.url %> ><%= item.brand.name %> <%= item.name %> </a>
          <span>$<%= item.price %> </span>
          <span><%= item.stock %></span>
        </li>
        <hr>
    <% } %> 
  <% } else { %> 
        <p class="availability">There are no <%= name %> available</p>
        <a href="/catalog/item/create" class="add-product">+ New Product</a>
    <% } %> 

  <button class="btn-primary btn-update"><a href="<%= category.url %>/update">Update Category</a></button>
  <button class="btn-primary"><a href="<%= category.url %>/delete">Remove Category</a></button>
</ul>



</main>

<%- include('./partials/footer') %> 

</body>
</html>