<%- include('./partials/layout')%>

<h2 class="page-header"><%= title %></h2>

<main>

<%- include('./partials/form_error') %> 

<form method="POST" action="" class="form-main">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required placeholder="Category Name" value="<%= typeof category !== 'undefined' ? category.name : ''%>">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="10" rows="2" placeholder="Category Description" required><%= typeof category !== 'undefined' ? category.description : '' %></textarea>
  </div>

  <% if(typeof update !== 'undefined') { %> 
    <%- include('./partials/admin_validation') %> 
  <% } %> 

  <button class="btn-primary btn-submit">SUBMIT</button>

  <% if(typeof category !== 'undefined') { %> 
    <button class="btn-primary btn-cancel" type="button"><a href="<%= category.url%>">CANCEL</a></button>
    <% } else {%> 
      <button class="btn-primary btn-cancel" type="button"><a href="/catalog/categories">CANCEL</a></button>
      <% } %> 
</form>

</main>
</body>
</html>