<%- include('./partials/layout') %> 

<h2 class="page-header">Product Inventory</h2>
<main>

  <ul class="inventory-list">
    <li class="list-headers">
    <span>Category</span>
      <span>Product</span> 
      <span>Price</span>
      <span>Qty</span>
    </li>
    <% for(const category of categories) { %> 
      <% rows[category._id.toString()].forEach((row, i) => { %> 
        <% const [itemId, itemPrice, itemQty] = row !== undefined ? row.split('-') : [row] %> 
        <% console.log(itemId, itemPrice, itemQty) %> 
        <li class="product-row" data-rowindex="<%= i %>">
          <a href=<%= category.url %> ><%=category.name %></a>
          <select name="product" class="item-select">
            <option value="0-0" data-category="<%= category._id %>" data-item="">Choose product</option>
            <% for(const item of items) { %> 
              <% if(item.category.name === category.name) { %> 
                <option value=<%=`${item.price}-${item.stock}`%> 
                <%= typeof row !== 'undefined' && itemId === item._id.toString() ? 'selected' : '' %>  data-category="<%= category._id %>" data-item="<%= item._id %>"> <%=item.name %> 
                </option>
                <% } %> 
              <% } %> 
          </select>
          <span class="item-price">$<%= itemPrice || "0" %> </span>
          <input type="number" class="item-qty" value="<%= itemQty || '0' %>" min="0" max="0">
        </li>
      <% }) %> 
      <button class="btn-add">+</button> 
      <hr>
      <% } %> 
    <li>
      <div class="total">Total:</div>
      <div class="total-price">$0</div>
    </li>
  </ul>
</main>
<script src="/javascripts/inventory.js"></script>
</body>
</html>
