<%- include('./partials/layout') %>

<h2 class="page-header">Product Catalog</h2>
<main>

<a href="item/create" class="add-product">+ New Product</a>

<ul class="product-list">
  <li class="list-headers">
    <span>Product</span>
    <span>Category</span>
    <span>Price</span>
    <span>Stock</span>
  </li>
  <% for(const item of items) {%>
    <li class="product-info">
      <a href=<%= item.url %> ><%= item.brand.name %> <%= item.name %> </a>
      <a href=<%= item.category.url %> ><%= item.category.name %></a>
      <span>$<%= item.price %> </span>
      <span><%= item.stock %></span>
    </li>
    <hr>
    <% } %>  
</ul>
</main>

</body>
</html>