<%- include('./partials/layout')%> 

<h2 class="page-header"><%= title %></h2>

<% if(locals.errors) { %> 
  <ul class="error">
    <% for(error of errors) { %> 
      <li>- <%= error.msg %></li>
      <% } %> 
  </ul>
<% } %> 
<% console.log(item) %> 
<form method="POST" action="" class="new-product" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Product Name" required value="<%= typeof item == 'object' && undefined !== item ? item.name : '' %>" >
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="10" rows="2" placeholder="Product Description" required><%= typeof item == 'object' && undefined !== item ? item.description : '' %></textarea>
  </div>

  <div class="form-group form-group-row">
    <div class="sub-group">
      <label for="category">Category</label>
      <select name="category" id="category" required>
      <% for(category of categories) { %>
        <option value=<%= category._id %> 
          <%= category._id.toString() === item.category._id.toString() ? 'selected' : ''%> 
          >
          <%=category.name %> 
        </option>
      <% } %> 
        </select>
    </div>

    <div class="sub-group">
      <label for="brand">Brand</label>
      <select name="brand" id="brand" required>
        <% for(brand of brands) {%>
          <option value=<%= brand._id %> 
            <%= brand._id.toString() === item.brand._id.toString() ? 'selected' : ''%> 
            >
            <%= brand.name %>
          </option>
        <% } %>
      </select>
    </div>
  </div>
 
  <div class="form-group form-group-row">
    <div class="sub-group">
      <label for="price">Price</label>
      <div class="price-input">
        <label for="price">$</label>
        <input type="number" id="price" name="price" min="0" required value=<%= typeof item == 'object' && undefined !== item ? item.price : '' %> >
      </div>
    </div>

    <div class="sub-group">
      <label for="stock">Stock</label>
      <input type="number" id="stock" name="stock" min="0" required value=<%= typeof item == 'object' && undefined !== item ? item.stock : '' %> >
    </div>
  </div>

  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" name="img_src" id="image">
  </div>

  <button class="btn-submit">Submit</button>
</form>

</body>
</html>